<div class="project-files-container">
  <section class="quick-actions">
    <button mat-raised-button class="quick-action-btn" (click)="showForm = true">
      <mat-icon>description</mat-icon>
      <span position="absolute" top="80%" left="20%" class="label">Add a project</span>
    </button>
    <button mat-flat-button class="quick-action-btn">
      <mat-icon>table_chart</mat-icon>
      <span class="label">New spreadsheet</span>
    </button>
    <button mat-flat-button class="quick-action-btn">
      <mat-icon>folder</mat-icon>
      <span class="label">New folder</span>
    </button>
    <button mat-flat-button class="quick-action-btn">
      <mat-icon>group_add</mat-icon>
      <span class="label">New team</span>
    </button>
  </section>

  <section class="recently-modified">
    <h2>Recently modified</h2>
    <div class="recent-files">
      <mat-card *ngFor="let file of recentFiles" class="file-card">
        <mat-icon>{{ file.icon }}</mat-icon>
        <div class="file-details">
          <p class="file-name">{{ file.name }}</p>
          <p class="file-info">{{ file.size }} • {{ file.type }}</p>
        </div>
      </mat-card>
    </div>
  </section>

  <section *ngIf="!showForm" class="all-files">
    <div class="header">
      <h2>All files</h2>
      <div class="filters">
        <button mat-button>View all</button>
        <button mat-button>Documents</button>
        <button mat-button>Spreadsheets</button>

        <button mat-button>PDFs</button>
        <button mat-button>Images</button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search for files..." />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="allFiles" class="file-table" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>File name</th>
        <td mat-cell *matCellDef="let file">
          <mat-checkbox></mat-checkbox>
          {{ file.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Size</th>
        <td mat-cell *matCellDef="let file">{{ file.size }}</td>
      </ng-container>
      <ng-container matColumnDef="uploadedBy">
        <th mat-header-cell *matHeaderCellDef>Uploaded by</th>
        <td mat-cell *matCellDef="let file">{{ file.uploadedBy }}</td>
      </ng-container>
      <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef>Last modified</th>
        <td mat-cell *matCellDef="let file">{{ file.lastModified }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let file">
          <button mat-icon-button [matMenuTriggerFor]="fileMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #fileMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>drive_file_rename_outline</mat-icon>
              Rename
            </button>
            <button mat-menu-item>
              <mat-icon>visibility</mat-icon>
              Open in browser
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              Delete file
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>

  <section *ngIf="showForm" class="add-project-form">
    <h2>Add a New Project</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="startDate" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate" required />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Storage (GB)</mat-label>
          <input matInput type="number" formControlName="storage" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Team Members</mat-label>
          <mat-select formControlName="teamMembers" multiple>
            <mat-option *ngFor="let member of teamMembers" [value]="member.id">
              <img class="custom-avatar" height="24" width="20" [src]="member.imagePath" alt="{{ member.name }} ">
              {{ member.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <<div *ngIf="selectedMembers.length > 0" class="selected-members">
      <h3>Selected Team Members</h3>
      <div *ngFor="let member of selectedMembers; let i = index">
    <span>
      <img class="custom-avatar" height="24" width="20" [src]="member.imagePath" alt="{{ member.name }}">
      {{ member.name }}
    </span>
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select [formControlName]="i">
            <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-button type="button" (click)="showForm = false">Cancel</button>
      </div>
    </form>

  </section>


</div>
